<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="white-text">Recipe Builder</h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright - MLVK
    <span class="grey-text text-lighten-4 right" href="#!">Firebase Test - v0.1.3</span>
    </div>
  </div>
</footer> 