<nav>
  {{#md-navbar name='Recipe Builder'}}
    <li>{{#link-to "items.new"}}New Ingredient{{/link-to}}</li>
    <li>{{#link-to "composites.new"}}New Recipe{{/link-to}}</li>
    <li>{{#link-to "products.new"}}New Product{{/link-to}}</li>
    <li>{{#link-to "unit-types.new"}}New Unit Type{{/link-to}}</li>
  {{/md-navbar}}
</nav>